/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*--- reset code ---*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* start editing from here */
a {
	text-decoration:none;
}
.txt-rt {
	text-align:right;
}/* text align right */
.txt-lt {
	text-align:left;
}/* text align left */
.txt-center {
	text-align:center;
/*-- W3Layouts --*/	
}/* text align center */
.float-rt {
	float:right;
}/* float right */
.float-lt {
	float:left;
}/* float left */
.clear {
	clear:both;
}/* clear float */
.pos-relative {
	position:relative;
}/* Position Relative */
.pos-absolute {
	position:absolute;
}/* Position Absolute */
.vertical-base {	
	vertical-align:baseline;
}/* vertical align baseline */
.vertical-top {	
	vertical-align:top;
}/* vertical align top */
nav.vertical ul li {	
	display:block;
}/* vertical menu */
nav.horizontal ul li {	
	display: inline-block;
}/* horizontal menu */
img {
	max-width:100%;
}
/*--- end reset code ---*/
body {
	background:url(../images/wood.png);
	background-repeat:repeat;
	font-family: 'Titillium Web', sans-serif;
}
h1.header-w3ls {
    text-align: center;
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: 600;
    padding-top: 60px;
    text-transform: uppercase;
    color: #F15F22;
}
/*-- text masking --*/
.container-w3layouts {
	width:100%;
	margin: 0 auto;
	text-align:center;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
svg {
	font-weight:500;
	font-size:20em;
	width:700px!important;
	height:400px!important;
	margin-left:115px;
	font-family: 'Roboto', sans-serif;
	outline: 1px solid transparent;
	-webkit-filter: drop-shadow(-30px 20px 10px rgba(0,0,0,0.4));
}
/* you can use this to apply the clippath to the image if you don't want to reference it as an attribute of that image */
/*
image {
	clip-path: url(#my-path);
}
*/      
/*-- /text masking --*/ 
p.error-agileits {
	text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0 165px;
}
p.copyright {
    font-size: 16px;
	font-weight:600;
    text-align: center;
    color:#000;
    padding-bottom:30px;
}
p.copyright a {
	color:#f15f22;
}
p.copyright a:hover {
	color:#36b051;
}

/*-- responsive design --*/
@media (max-width:1600px) {
p.error-agileits {
	margin:0 0 140px;
}
}

@media (max-width:1366px) {
p.error-agileits {
	margin: 0px 0 130px;	
}
svg {
	margin-top:-25px;
}
}

@media (max-width:1024px) {
svg {
	font-size:15em;
	margin-top: -60px;
	margin-left:230px;
}
p.error-agileits {
    margin: -20px 0 100px;
}
}

@media (max-width:900px) {
svg {
    font-size: 16em;
    margin-top: -60px;
    margin-left: 215px;
    width: 670px!important;
}
}

@media (max-width:800px) {
svg {
    font-size: 17em;
    width: 600px!important;
    margin-top: -60px;
    margin-left: 175px;
}
}

@media (max-width: 768px) {
svg {
    font-size: 17em;
    width: 580px!important;
    margin-top: -60px;
    margin-left: 171px;
}
}

@media (max-width:736px) {
h1.header-w3ls {
	font-size: 40px;
    padding-top: 20px;	
}
svg {
    font-size: 17em;
    width: 550px!important;
	height: 285px !important;
    margin-top: -20px;
    margin-left: 160px;
}
p.error-agileits {
    margin: -20px 0 65px;
}
p.copyright {
	padding-bottom:20px;
	line-height:30px;
}
}

@media (max-width: 667px) {
svg {
    font-size: 19em;
    width: 500px!important;
    margin-top: -20px;
    margin-left: 115px;
}
}

@media (max-width:640px) {
p.error-agileits {
    margin: 0px 0 40px;
}
}

@media (max-width: 600px) {
p.error-agileits {
    margin: -40px 0 27px;
}
svg {
    font-size: 19em;
    width: 460px!important;
	margin-top: -20px;
    margin-left: 96px;
}
}

@media (max-width: 568px) {
svg {
    font-size: 19em;
    width: 430px!important;
    margin-top: -20px;
    margin-left: 96px;
}
}

@media (max-width: 480px) {
h1.header-w3ls {
    font-size: 40px;
    padding-top: 20px;
    letter-spacing: 5px;
}	
svg {
    font-size: 19em;
    width: 380px!important;
    margin-top: -20px;
    margin-left: 85px;
}
p.error-agileits {
    margin: -60px 0 27px;
}
}

@media (max-width: 414px) {
h1.header-w3ls {
    font-size: 35px;
    padding-top: 20px;
    letter-spacing: 5px;
}
p.error-agileits {
    margin: -6px 0 25px;
}
svg {
    font-size: 20em;
    width: 330px!important;
    margin-top: -20px;
    margin-left: 60px;
}
}

@media (max-width: 384px) {
h1.header-w3ls {
    font-size: 35px;
    padding-top: 20px;
}
svg {
    font-size: 22em;
    width: 300px!important;
    margin-top: -20px;
    margin-left: 35px;
}
}

@media (max-width: 375px) {
h1.header-w3ls {
    font-size: 33px;
    padding-top: 20px;
}	
p.copyright {
	padding:0 15px 20px;
}
p.error-agileits {
    margin: -6px 0 25px;
}
}

@media (max-width: 320px) {
h1.header-w3ls {
    font-size: 27px;
    padding-top: 20px;
}
svg {
    font-size: 22em;
    width: 275px!important;
    margin-top: -20px;
    margin-left: 35px;
}
p.error-agileits {
    margin: -6px 0 25px;
    font-size: 15px;
}
p.copyright {
    font-size: 14px;
}
}